<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

      <a class="navbar-brand page-scroll" href="#page-top">Jane Ossai</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
        <li class="hidden">
          <a class="page-scroll" href="#page-top"></a>
        </li>
        <li>
          <a class="page-scroll" href="#about">ABOUT</a>
        </li>
        <li>
          <a class="page-scroll" href="#portfolio">PORTFOLIO</a>
        </li>
        <li>
          <a class="page-scroll" href="#contact">CONTACT</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>

<!-- Intro Section -->
<section id="intro" class="intro-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="profile-img">
          <img src="../assets/images/my-pic.jpg" alt="pic">
        </div>
        <h1>JANE OSSAI</h1>
        <hr>
        <span style="color:  rgb(174, 169, 131);font-weight: 300; font-size: large;"> Tech | Innovation | UX </span>

        <br> <br>

        <p> 4th year of MEng Computer Science at the University of Southampton.
          <br>
          <br> Passionate about Technology, Innovation, UX and Africa.

          <br>
          <br> Aspiring to inspire.
        </p>

        <a class=" page-scroll" href="#about">
          <button class="circular basic ui icon button">
            <i style="color:#c0a983;font-weight: bold;" class="angle down icon"></i>
          </button>
        </a>

        <!-- <a class="btn btn-default page-scroll" href="#about"> Read More </a> -->

        <!-- <p><strong>Usage Instructions:</strong> Make sure to include the <code>scrolling-nav.js</code>, <code>jquery.easing.min.js</code>, and <code>scrolling-nav.css</code> files. To make a link smooth scroll to another section on the page, give the link the <code>.page-scroll</code> class and set the link target to a corresponding ID on the page.</p>
                <a class="btn btn-default page-scroll" href="#about">Click Me to Scroll Down!</a> -->
      </div>
    </div>
  </div>
</section>

<!-- About Section -->
<section id="about" class="about-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>About</h1>

        <p>
          I am a highly motivated and driven undergraduate in my 4th year of MEng Computer Science at the University of Southampton.
        </p>
          <br>
          <p>I am determined, quick to pick up new skills and eager to learn from others.</p>

          <br>
          <p>
          The wide range of customer service and IT related positions I have held in the past have given me a variety of invaluable
          <a href="#skills" style="color:rgb(174, 169, 131);"class="page-scroll">  skills </a>
          that I can adapt to various work cultures.
        </p>
      </div>
    </div>
  </div>
</section>

<!-- About Section -->
<section id="skills" class="skills-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>Skills</h1>

        <div class="ui circular labels skills">
          <a *ngFor="let skill of skills" class="ui label skill grow">
            {{skill}}
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Services Section -->
<section id="portfolio" class="portfolio-section">

<div class="ui container">
  <div class="ui grid">
    <div class="centered column" >
        <h1>Portfolio</h1>
    </div>


      <div class="ui three stackable cards">


        <div class="ui card">
          <div class="image">
            <img style="height: 193px;" src="../assets/images/lyrics-now.jpg">
          </div>
          <div class="content">
            <a class="header">Lyric Finder</a>
            <div class="meta">
              <span class="date">August 2016</span>
            </div>
            <div class="description">
              My first Angular 2 web app. A simple lyric finder that leverages the Musixmatch API to allow users to find lyrics to songs. Hosted on Heroku
            </div>
          </div>
          <div class="extra content">
            <a href="https://github.com/jossai1/lyrics-now2" target="_blank">
              <i class="github icon"></i>
              Code
            </a>

            <a style="float:right" href="http://lyrics-now.herokuapp.com/#/" target="_blank">
              <i class="external icon"></i>
              View on Heroku
            </a>

          </div>
        </div>

        <div class="ui card">
          <div class="image">
            <img style="height: 193px;" src="../assets/images/meeting-room.png">
          </div>
          <div class="content">
            <a class="header">Survey System + results dashboard</a>
            <div class="meta">
              <span class="date">June 2016</span>
            </div>
            <div class="description">
            Designed and developed a survey system with an accompanying dashboard using the MEAN Stack. Used the system to gather data, collate and evaluate the results. Deplyed system to work on tablets.
            </div>
          </div>
          <div class="extra content">
            <a href="https://github.com/jossai1/meeting-room" target="_blank">
              <i class="github icon"></i>
              Code
            </a>
          </div>
        </div>


        <div class="ui card">
          <div class="image">
            <img style="height:193px;" src="../assets/images/unify.png">
          </div>
          <div class="content">
            <a class="header">Ionic Mobile Application</a>
            <div class="meta">
              <span class="date">July 2016</span>
            </div>
            <div class="description">
              Developed a module review based mobile application for University students using the Ionic Framework and Firebase.
            </div>
          </div>
          <div class="extra content">
            <!-- <a href="https://github.com/jossai1/meeting-room" target="_blank">
              <i class="github icon"></i>
              Code
            </a> -->
          </div>
        </div>

        <div class="ui card">
          <div class="image">
            <img style="height:193px;" src="../assets/images/git-search1.png">
          </div>
          <div class="content">
            <a class="header">GitHub Search</a>
            <div class="meta">
              <span class="date">June 2017</span>
            </div>
            <div class="description">
              Allows you to search for a github user by username, displays the user's followers, profile picture and other user realted info.
              Built using Angular 2 and uses the Github API.
            </div>
          </div>
          <div class="extra content">
            <a href="https://github.com/jossai1/git-search" target="_blank">
              <i class="github icon"></i>
              Code
            </a>
          </div>
        </div>


        <div class="ui card">
          <div class="image">
            <img style="height:193px;" src="../assets/images/bible-bot.png">
          </div>
          <div class="content">
            <a class="header">BibleBot</a>
            <div class="meta">
              <span class="date">June 2017</span>
            </div>
            <div class="description">
              Allows users to find bible verses by searching for how they feel/keywords.
              Built using Angular 2 and uses the Bible API.
            </div>
          </div>
          <div class="extra content">
            <a href="https://github.com/jossai1/bible-bot" target="_blank">
              <i class="github icon"></i>
              Code
            </a>

            <a style="float:right" href="https://bible--bot.herokuapp.com" target="_blank">
              <i class="external icon"></i>
              View on Heroku
            </a>
          </div>
        </div>

        <div class="ui card">
          <div class="image">
            <img src="../assets/images/prov-narrrator-pg1.png">
          </div>
          <div class="content">
            <a class="header">Interactive Story Editor </a>
            <div class="meta">
              <span class="date">January 2017 - March 2017</span>
            </div>
            <div class="description">
              Prov-Narrator is an interactive web-based tool for creating provenance-based narratives. User's have access to all the tools required to build thier stories. The tool converts the story to a provenance document and exports it to the ProvStore.
            </div>
          </div>
          <div class="extra content">
            Please
            <a style="color:#4183C4" class="page-scroll" href="#contact">
            contact me
            </a>
            if you'd like to view a demo of this project.
          </div>
        </div>
      </div>
    </div>
  </div>

</section>

<!-- Contact Section -->
<section id="contact" class="contact-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>Contact Section</h1>
        <p> Drop me an <a href="mailto:jane.ossai@gmail.com?Subject=Hello%20Jane" target="_top"> e-mail</a> if you'd like to get in contact.</p>
      </div>
    </div>
  </div>
</section>

<footer style="background-color: #eeeeee;" class="text-center">
  <div class="footer-above">
    <div class="container">
      <div class="row">
        <!-- <div class="footer-col col-md-4">
                        <h3>Location</h3>
                        <p>3481 Melrose Place
                            <br>Beverly Hills, CA 90210</p>
                    </div> -->
        <div>
          <h1>Around the Web</h1>
          <ul class="list-inline">

            <li>
              <a href="" class="btn-social btn-outline"><span class="sr-only">Twitter</span><i class="fa fa-fw fa-twitter"></i></a>
            </li>
            <li>
              <a href="https://uk.linkedin.com/in/jane-ossai-663399a6" class="btn-social btn-outline"><span class="sr-only">Linked In</span><i class="fa fa-fw fa-linkedin"></i></a>
            </li>
            <li>
              <a href="https://github.com/jossai1" class="btn-social btn-outline"><span class="sr-only">GitHub</span><i class="fa fa-fw fa-github"></i></a>
            </li>
          </ul>
        </div>
        <!-- <div class="footer-col col-md-4">
                        <h3>About Freelancer</h3>
                        <p>Freelance is a free to use, open source Bootstrap theme created by <a href="http://startbootstrap.com">Start Bootstrap</a>.</p>
                    </div> -->
      </div>
    </div>
  </div>
  <div class="footer-below">
    <div class="container">
      <div class="row">
        <div style="color: #caa0a0" class="col-lg-12">
          Copyright © Jane Ossai 2017
        </div>
      </div>
    </div>
  </div>
</footer>
