<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header page-scroll">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

      <a class="navbar-brand page-scroll" href="#page-top">Jane Ossai</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav">
        <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
        <li class="hidden">
          <a class="page-scroll" href="#page-top"></a>
        </li>
        <li>
          <a class="page-scroll" href="#about">ABOUT</a>
        </li>
        <li>
          <a class="page-scroll" href="#portfolio">PORTFOLIO</a>
        </li>
        <li>
          <a class="page-scroll" href="#contact">CONTACT</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>

<!-- Intro Section -->
<section id="intro" class="intro-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="image">
          <img src="../assets/images/my-pic.jpg" alt="pic">
        </div>
        <h1>JANE OSSAI</h1>
        <hr>
        <span class="skills"> Tech | Innovation | UX </span>

        <br> <br>

        <p> 3rd year of MEng Computer Science at the University of Southampton.
          <br>
          <br> Passionate about Technology, Innovation, UX and Nigeria.

          <br>
          <br> Aspiring to inspire.
        </p>

        <a class="btn btn-default page-scroll" href="#about"> Read More </a>

        <!-- <p><strong>Usage Instructions:</strong> Make sure to include the <code>scrolling-nav.js</code>, <code>jquery.easing.min.js</code>, and <code>scrolling-nav.css</code> files. To make a link smooth scroll to another section on the page, give the link the <code>.page-scroll</code> class and set the link target to a corresponding ID on the page.</p>
                <a class="btn btn-default page-scroll" href="#about">Click Me to Scroll Down!</a> -->
      </div>
    </div>
  </div>
</section>

<!-- About Section -->
<section id="about" class="about-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>About</h1>

        <p>
          I am a highly motivated and driven undergraduate in my 3rd year of MEng Computer Science at the University of Southampton.
          <br> I am determined, quick to pick up new skills and eager to learn from others.
          <br> The wide range of customer service and IT related positions I have held in the past have given me a variety of invaluable skills that I can adapt to various work cultures.

        </p>
        <br>
        <h4 > Core Languages </h4>
        <p>
          I currently code in <strong>Java</strong> and am profficient in various Javascript frameworks such as <strong>Angular 2</strong> and <strong> AngularJS</strong>. </p>

        <br>

        <h5> Others</h5>
        <p> I am familiar with: Python, Scheme, Ocaml, C# . </p>
        <br>
        <p>I've built several Angular 2 and AngularJs web apps, a mobile app using the <strong>Ionic Framework</strong>, various games using <strong> Unity</strong> and various <strong>MEAN stack </strong> web applications.</p>
        <a class="btn btn-default page-scroll" href="#portfolio"> View My Projects Here</a>
      </div>
    </div>
  </div>
</section>

<!-- Services Section -->
<section id="portfolio" class="services-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>Portfolio</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 portfolio-item">
        <!-- <a href="http://lyrics-now.herokuapp.com/#/" class="portfolio-link" data-toggle="modal"> </a> -->
          <figure>
            <img src="../assets/images/lyrics-now.jpg">
            <figcaption class="fig-caption" > <a href="http://lyrics-now.herokuapp.com/#/" target="_blank"> Simple Lyric Finder </a></figcaption>
          </figure>

      </div>
      <div class="col-sm-4 portfolio-item">
        <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">  </a>
          <figure>
            <img src="../assets/images/meeting-room.png">
            <figcaption class="fig-caption" > <a href="#Portfolio"> Survey system with built in Admin UI </a></figcaption>
          </figure>
      </div>
      <div class="col-sm-4 portfolio-item">
        <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal"> </a>
          <figure>
              <img src="../assets/images/prov-narrrator-pg1.png">
              <figcaption class="fig-caption" > <a href="https://github.com/jossai1/angular-story-editor/tree/final" target="_blank"> Interactive Tool for creating stories </a></figcaption>
          </figure>
      </div>

      <div class="col-sm-4 portfolio-item">
        <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">  </a>
          <figure>
            <img style="width:200px;height:250px;" src="../assets/images/unify.png">
            <figcaption class="fig-caption" > <a href="#Portfolio"> Mobile app built with Ionic </a></figcaption>
          </figure>
      </div>

    </div>
  </div>
</section>

<!-- Contact Section -->
<section id="contact" class="contact-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>Contact Section</h1>
        <p> Drop me an <a href="mailto:jane.ossai@gmail.com?Subject=Hello%20Jane" target="_top"> e-mail</a> if you'd like to get in contact with me </p>
      </div>
    </div>
  </div>
</section>

<footer class="text-center">
  <div class="footer-above">
    <div class="container">
      <div class="row">
        <!-- <div class="footer-col col-md-4">
                        <h3>Location</h3>
                        <p>3481 Melrose Place
                            <br>Beverly Hills, CA 90210</p>
                    </div> -->
        <div class="footer-col col-md-4">
          <h1>Around the Web</h1>
          <ul class="list-inline">

            <li>
              <a href="#" class="btn-social btn-outline"><span class="sr-only">Twitter</span><i class="fa fa-fw fa-twitter"></i></a>
            </li>
            <li>
              <a href="#" class="btn-social btn-outline"><span class="sr-only">Linked In</span><i class="fa fa-fw fa-linkedin"></i></a>
            </li>
            <li>
              <a href="#" class="btn-social btn-outline"><span class="sr-only">GitHub</span><i class="fa fa-fw fa-github"></i></a>
            </li>
          </ul>
        </div>
        <!-- <div class="footer-col col-md-4">
                        <h3>About Freelancer</h3>
                        <p>Freelance is a free to use, open source Bootstrap theme created by <a href="http://startbootstrap.com">Start Bootstrap</a>.</p>
                    </div> -->
      </div>
    </div>
  </div>
  <div class="footer-below">
    <div class="container">
      <div class="row">
        <div style="color: silver" class="col-lg-12">
          Copyright © Jane Ossai 2017
        </div>
      </div>
    </div>
  </div>
</footer>
